/learn-java/out/production/learn-new-languages/helloworld/Hello.class
/learn-java/out/production/learn-new-languages/META-INF/learn-new-languages.kotlin_module
/learn-java/out/production/learn-new-languages/byteshortintlong/Main.class
/learn-java/out/production/learn-new-languages/charandboolean/Main.class
/learn-java/out/production/learn-new-languages/floatanddouble/Main.class
/learn-java/out/production/learn-new-languages/poundstokilograms/Main.class
/learn-java/out/production/learn-new-languages/primitivetypeschallenge/Main.class
/learn-java/out/production/learn-new-languages/strings/Main.class
